<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- Offical Server  -->
<connectionStrings>
    <add name="ConString" connectionString="workstation id=EZSnips.mssql.somee.com;packet size=4096;user id=dcs09c_SQLLogin_1;pwd=n8dsgcg6ww;data source=EZSnips.mssql.somee.com;persist security info=False;initial catalog=EZSnips " providerName="System.Data.SqlClient" />
  </connectionStrings>

  
    <!--  Laptop Server  

  <connectionStrings>
    <add name="ConString" connectionString="Data Source=NIGEL\SERVER1; Initial Catalog=EZ Snips;User ID =Test; Password =password " providerName="System.Data.SqlClient" />
  </connectionStrings>
 -->

  <!-- Desktop Server
    <connectionStrings>
    <add name="ConString" connectionString="Data Source=NIGEL-HP; Initial Catalog=EZ Snips;User ID =Nigel; Password =test " providerName="System.Data.SqlClient" />
  </connectionStrings>
     -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>